//===================================================================
//
//    TABLES
//
//===================================================================





table
    width: 100%
    max-width: 100%
    border-collapse: separate