//===================================================================
//
//    FORMS
//
//===================================================================



$form-size:                                           $base-form-size
$form-radius:                                         $base-radius


/*
 * Input / textarea base.
 */
input:not([type="radio"]):not([type="checkbox"]),
select,
textarea
    +animate--fast
    padding: 0 0.5rem
    line-height: $form-size
    -webkit-appearance: none
    outline: none
    +attention
        +animate--fast
    +retina
        .touchevents &
            font-size: 16px


/*
 * IE height fix for inputs.
 */
input:not([type="radio"]):not([type="checkbox"]),
select
    height: $form-size