//===================================================================
//
//    QUOTES
//
//===================================================================


/*
 * Inline quotes
 */
q
    font-style: italic
    quotes: "‘" "’" "“" "”"
    &:before
        content: open-quote
    &:after
        content: close-quote


/*
 * Blockquotes
 */
blockquote
    margin-right: 2 * $spacing
    margin-left: 2 * $spacing
    font-style: italic
    quotes: "“" "”"

    p
        &:before
            content: open-quote
        &:after
            content: no-close-quote
        &:last-of-type
            margin-bottom: 0
        &:after
            content: close-quote
    q
        quotes: "‘" "’"
        &:before
            content: open-quote
        &:after
            content: close-quote
