//===================================================================
//
//    FONTS
//
//===================================================================


/*
 * @font-face mixin.
 */
=fontface($font-family, $file-path, $font-style: normal, $font-weight: normal)
    @font-face
        font:
            family: $font-family
            style: $font-style
            weight: $font-weight
        src: url('#{$file-path}.eot')
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype'), url('#{$file-path}.svg##{$font-family}') format('svg')



    // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
    @media screen and (-webkit-min-device-pixel-ratio: 0)
        @font-face
            font-family: $font-family
            src: url('#{$file-path}.svg##{$font-family}') format('svg')


/*
 * @font-face init.
 */
// +fontface($font_name, "../fonts/", normal, normal)