//===================================================================
//
//    LINKS
//
//===================================================================


/*
 * Config.
 */
$link-color:                                          $color-link
$link-color--hover:                                   $color-link--hover

/*
 * Base link styles
 */
a
    color: $link-color
    text-decoration: none
    transition: $animate-speed--fast color ease-in-out

    +attention
        color: $link-color--hover
        text-decoration: none
        transition: $animate-speed--fast color ease-in-out