//===================================================================
//
//    BASE PAGE STYLES
//
//===================================================================


html
    overflow-y: scroll
    min-height: 100%
    background-color: $base-bg
    color: $base-color
    font-family: $base-font-family
    font-weight: $font-weight-base
    font-size: 100%
    font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    line-height: $base-line-height
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004)


body
    position: relative
    height: 100%
    font-size: $base-font-size