//===================================================================
//
//    BREAKPOINTS
//
//===================================================================


/*
 * Breakpoint pixel dimensions here.
 */


$breakpoints: (
  // micro:  false,
  // xxs:    false,
  phab:   414px,
  // xs:     false,
  tab-7:  600px,
  // sm:     false,
  tab-p:  768px,
  // md:     false,
  nav:    1000px,
  tab-l:  1024px,
  // lg:     false,
  desk:   1450px,
  // xl:     false,
  full:   1920px,
  // xxl:    false,
);