//===================================================================
//
//    JS NAV
//
//    1. Slide out nav.
//
//===================================================================



$nav-slideout:                                        true
$nav-slideout__width:                                 200px
$nav-slideout--reset:                                 true
$nav-slideout--reset-width:                           auto
$nav-slideout--shadow:                                false

/*
 * 1. Slide out nav.
 * Targets <body>, <nav>.
 *
 */
@if $nav-slideout == true
    body
        right: 0
        transition: $animate-speed--fast right ease-in-out

        &.is-open
            right: $nav-slideout__width
            transition: $animate-speed--fast right ease-in-out
            @if $nav-slideout--reset == true
                +resize(nav)
                    right: 0


    [id="nav"]
        position: fixed
        top: 0
        right: - $nav-slideout__width
        overflow-y: scroll
        width: $nav-slideout__width
        height: 100%
        transition: $animate-speed--fast right ease-in-out

        @if $nav-slideout--shadow == true
            box-shadow: 5px 0px 5px -3px #000 inset
            +resize(nav)
                box-shadow: 0 0 0 0 transparent

        @if $nav-slideout--reset == true
            +resize(nav)
                position: relative
                top: 0
                right: 0
                overflow-y: visible
                width: $nav-slideout--reset-width

        &.is-open
            right: 0
            transition: $animate-speed--fast right ease-in-out