//===================================================================
//
//    JS ACCORDION
//
//    Expand / collapse content.
//
//===================================================================


/*
 * Nav accordion.
 *
 * <a class="js-accordion" href="#"></a>
 * <ul></ul>
 *
 */


/*
 * Content accordion.
 *
 * <a class="js-accordion" href="#"></a>
 * <div class="m-accorodion"></div>
 *
 */


.js-accordion

    &.is-open
        + div,
        + ul
            +popout-show

    + div,
    + ul
        +popout-hide


    + div,
    + ul
        max-height: 0
        overflow: hidden
        opacity: 0
