//===================================================================
//
//    JS MODAL
//
//    1. Variables.
//    2. Simple modal.
//    3. Split modal.
//
//===================================================================



/*
 * 1. Variables.
 */
$split-modal:                                                  true


/*
 * 2. Simple modal.
 *
 * <a href="#" id="modal-toggle"></a>
 *
 * <div class="m-modal" id="modal">
 *     <a class="m-modal__close" href="#" id="modal-close">X</a>
 *     <div class="m-modal__item"></div>
 * </div>
 */
.m-modal
    +animate--fast
    position: fixed
    top: 0
    left: 0
    visibility: hidden
    width: 100%
    height: 100%
    opacity: 0

    &.is-active
        +animate--fast
        visibility: visible
        opacity: 1

        .m-modal__item
            +animate--fast


.m-modal__item
    +animate--fast
    position: relative
    left: 50%
    transform: translate(-50%, -50%)


/*
 * 3. Split modal.
 *
 * <a href="#" id="modal-toggle"></a>
 *
 * <div class="m-modal" id="modal">
 *     <a class="m-modal__close" href="#" id="modal-close">X</a>
 *     <div class="m-modal__item">
 *         <ul class="m-mdal__switcher">
 *             <li>
 *                 <a class="m-modal__alpha-toggle" href="#" id="modal-alpha-toggle"></a>
 *             </li>
 *             <li>
 *                 <a class="m-modal__beta-toggle" href="#" id="modal-beta-toggle"></a>
 *             </li>
 *         </ul>
 *         <div id="modal-alpha"></div>
 *         <div id="modal-beta"></div>
 *     </div>
 * </div>
 */
@if $split-modal == true

    .m-modal__alpha-toggle,
    .m-modal__beta-toggle

        &.is-active
            background-color: transparent


    .m-modal__alpha,
    .m-modal__beta
        display: none

        &.is-active
            display: block