//===================================================================
//
//    TITLES
//
//===================================================================


/*
 * Base title style: font-family.
 */
=m-title
    color: inherit
    font-family: $font-stack-heading

.m-title
    +m-title


/*
 * Titles will includes the following styles:
 * - margin
 * - default color
 * - font size
 * - letter spacing
 * - line height
 */


/*
 * Page title: <h1> tag -- typically in `.m-hero`.
 * Extends `.m-title`.
 */
// =m-title--page


// .m-title--page
//     +m-title--page

/*
 * Primary section and content header -- typically <h2>.
 * Extends `.m-title`.
 */
// =m-title--primary


// .m-title--primary
//     +m-title--primary

/*
 * Secondary titles could be anything, really.
 * Extends `.m-title`.
 */
// =m-title--secondary


// .m-title--secondary
//     +m-title--secondary


=m-sub-title
    color: inherit
    font-family: $font-stack-sub-heading