//===================================================================
//
//    SPEECH BUBBLE
//
//===================================================================


/*
 * Speech bubble config.
 */
$speech-bubble-bg:                     null
$speech-bubble-bd:                     null
$speech-bubble-bd-color:               null
$speech-bubble-bd-size:                null
$speech-bubble-triangle-width:         null
$speech-bubble-triangle-location:      50%


/*
 * Speech bubble mixin.
 */
=m-speech-bubble($bg: $speech-bubble-bg, $border: $speech-bubble-border, $border-color: $speech-bubble-bd-color, $border-size: $speech-bubble-bd-color, $triangle-width: $speech-bubble-triangle-width, $triangle-location: $speech-bubble-triangle-location)
  background-color: $bg

  @if $border == true
    border-color: $border-color
    border-style: solid
    border-width: $border-size

  &::after
    left: $triangle-location
    border-top-color: $bg
    border-width: $triangle-width
    margin-left: $triangle-width * -1

  &::before
    left: $triangle-location
    border-top-color: darken($bg, 20%)
    border-width: $triangle-width
    margin-left: $triangle-width * -1