//===================================================================
//
//    PAGE HEADER
//
//===================================================================


$top-bar:                                             true


/*
 * <header class="m-page-head">
 *   <div class="m-page-head__item">
 *       <!-- .m-branding -->
 *   </div>
 *   <div class="m-page-head__item">
 *       <!-- .m-site-nav -->
 *   </div>
 *   <div class="m-page-head__item">
 *       <!-- .o-nav -->
 *   </div>
 * </header>
 *
 */


.m-page-head
    display: flex
    flex-flow: row
    flex-wrap: wrap
    align-items: center
    justify-content: space-between

    .m-page-head__item
        display: flex

    .m-page-head__item:nth-of-type(1)
        @if $top-bar == true
            +resize(nav)
                order: 2

    .m-page-head__item:nth-of-type(2)
        @if $top-bar == true
            +resize(nav)
                order: 2

    .m-page-head__item:nth-of-type(3)
        @if $top-bar == true
            +resize(nav)
                flex-wrap: wrap
                order: 1
                width: 100%