//===================================================================
//
//    TOOLTIP
//
//===================================================================



/*
 * <div class="m-tooltip">
 *     <!-- Tooltip trigger -->
 *     <div class="m-tooltip__item">
 *         <!-- Tooltip content -->
 *     </div>
 * </div>
 */
=m-tooltip($color: null, $pad: 1rem, $radius: true, $shadow: false)
    position: relative
    overflow: hidden
    text-align: center

    &:hover
        overflow: visible

        .m-tooltip__item
            transform: translateY(0px)
            opacity: 1

    .m-tooltip__item
        position: absolute
        bottom: 100%
        display: block
        margin-bottom: $spacing
        padding: $pad
        width: 100%
        transform: translateY(-10px)
        background: $color
        color: inherit
        opacity: 0
        transition: all .25s ease-out

        @if $radius == true
            border-radius: $base-radius

        @if $shadow == true
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5)

    .touchevents &
        position: relative
        top: -110px
        margin-bottom: 0
        opacity: 1

    .m-tooltip__item:before
        position: absolute
        bottom: -20px
        left: 0
        display: block
        width: 100%
        height: 20px
        content: " "


    .m-tooltip__item:after
        position: absolute
        bottom: -15px
        left: 50%
        width: 0
        height: 0
        transform: translate(-50%, -50%)
        border-left: solid transparent 10px
        border-right: solid transparent 10px
        border-top: solid $color 10px
        content: " "