//===================================================================
//
//    TABLES MODULE
//
//===================================================================


/*
 * Config.
 */
$tables-have-radius:             true
$tables-have-borders:            true
$tables-have-zebra:              true

$table-bg:                       null
$table-bg--zebra:                null
$table-bd-color:                 null
$table-radius:                   $base-radius
$table-color:                    inherit


/*
 * Table border radius.
 */
@if $tables-have-radius == true
    tr:first-child td:first-child
        border-top-left-radius: $table-radius

    tr:first-child td:last-child
        border-top-right-radius: $table-radius

    tr:last-child td:first-child
        border-bottom-left-radius: $table-radius

    tr:last-child td:last-child
        border-bottom-right-radius: $table-radius


/*
 * Table borders
 */
@if $tables-have-borders == true
    table

        td
            border-color: $table-bd-color
            border-style: solid
            border-width: 1px 0 0 0

        tr
            &:last-child
                td
                    border-width: 1px 0

            &:nth-of-type(even)
                td
                    background-color: $table-bg--zebra

        tr
            td:first-child
                border-left-width: 1px

            td:last-child
                border-right-width: 1px


/*
 * Table zebra stripes.
 */
@if $tables-have-zebra == true
    table

        tr:nth-of-type(even)
            td
                background-color: $table-bg--zebra