//===================================================================
//
//    BUTTONS
//
//===================================================================


/*
 * Config.
 */
$btn-size:                                            $base-btn-size
$btn-padding:                                         $base-btn-padding
$btn-radius:                                          $base-radius
$btn-bd-width:                                        null


/*
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 * 7. Base button padding.
 */


=m-btn
    +animate--fast
    display: inline-block /* [1] */
    vertical-align: middle /* [2] */
    overflow: visible /* [6] */
    margin: 0 /* [4] */
    padding: $btn-padding /* [7] */
    background-color: transparent
    background-image: none
    border-radius: $btn-radius
    border-style: solid
    border-width: $btn-bd-width
    font: inherit /* [3] */
    line-height: $btn-size
    text-align: center /* [4] */
    cursor: pointer /* [5] */

    +attention
        +animate--fast
        text-decoration: none /* [4] */


.m-btn
    +m-btn


/*
 * Main button.
 * Takes hollow or solid mixin.
 * Extends `m-btn`.
 */
// =m-btn--main

// .m-btn--main
//     +m-btn--main


/*
 * Inverted main button.
 * Takes hollow or solid mixin.
 * Extends `m-btn`.
 */
// =m-btn--main--invert

// .m-btn--main--invert
//     +m-btn--main--invert


/*
 * Secondary button.
 * Takes hollow or solid mixin.
 * Extends `m-btn`.
 */
// =m-btn--secondary

// .m-btn--secondary
//     +m-btn--secondary