//===================================================================
//
//    BREADCRUMBS MODULE
//
//    Inspiration: http://codepen.io/eMaj/pen/qtico
//
//===================================================================



$breadcrumb:                                          false
$breadcrumb-bg:                                       null
$breadcrumb-bg--hover:                                null
$breadcrumb-bg--active:                               null
$breadcrumb-height:                                   40px
$breadcrumb-spacing:                                  23px
$breadcrumb-radius:                                   false


@if $breadcrumb == true
    .m-breadcrumbs

        i
            color: inherit

        a
            position: relative
            height: $breadcrumb-height
            margin-right: $breadcrumb-spacing
            padding: 0 10px 0 5px
            color: inherit
            background: $breadcrumb-bg
            text-decoration: none
            line-height: $breadcrumb-height
            text-align: center
            &:before,
            &:after
                position: absolute
                top: 0
                border: 0 solid $breadcrumb-bg
                border-color: transparent
                border-width: $breadcrumb-height / 2 10px
                width: 0
                height: 0
                content: ""

            &:before
                left: -20px
                border-color: $breadcrumb-bg
                border-left-color: transparent

            &:after
                left: 100%
                border-left-color: $breadcrumb-bg

            &:hover
                background-color: $breadcrumb-bg--hover

                &:before
                    border-color: $breadcrumb-bg--hover
                    border-left-color: transparent

                &:after
                    border-left-color: $breadcrumb-bg--hover

            &:active
                background-color: $breadcrumb-bg--active

                &:before
                    border-color: $breadcrumb-bg--active
                    border-left-color: transparent

                &:after
                    border-left-color: $breadcrumb-bg--active

        li:first-child
            a
                padding-left: 15px

                &:before
                    border: none

                @if $breadcrumb-radius == true
                    border-radius: 4px 0 0 4px

        li:last-child
            a
                padding-right: 15px

                &:after
                    border: none

                @if $breadcrumb-radius == true
                    border-radius: 0 4px 4px 0