//===================================================================
//
//    HERO
//
//===================================================================


/*
 * <div class="m-hero m-hero--left">
 *    <div class="m-hero__item">
 *        <h1 class="m-title--page"></h1>
 *        <p>Some Content</p>
 *    </div>
 * </div>
 */


/*
 * Full screen mast head.
 */
.m-hero
    width: 100%
    height: 250px
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover
    text-align: center
    +resize(phab)
        height: 275px
    +resize(tab-7)
        height: 375px
    +resize(desk)
        height: 425px
    +resize(full)
        height: 550px
