//===================================================================
//
//    BRANDING
//
//===================================================================


.m-branding
    display: flex

    /* Define width and height for IE */
    img:first-of-type,
    svg:first-of-type
        display: block
        height: 40px
        width: 40px


    /* Define width and height for IE */
    img:last-of-type,
    svg:last-of-type
        display: none
        height: 80px
        width: 200px