//===================================================================
//
//    NAVIGATION OBJECT
//
//===================================================================



/*
 * Flexbox-based navs.
 */
.o-nav
    +nav


/*
 * Display block navs. Extends `o-nav`
 */
.o-nav--block
    flex-direction: column


/*
 * Display inline navs. Extends `o-nav`. Use `o-wrapper` to restrict width.
 */
.o-nav--banner
    flex-direction: row
    justify-content: space-between


/*
 *  Split two menu lists. Extends `o-nav`
 */
.o-nav--split
    margin-right: auto