//===================================================================
//
//    PARALLAX
//
//===================================================================



/*
 * Creates parallax effect when combined with
 * background image.
 *
 * Extend `.o-press` for vertical padding.
 *
 * Background images stored in prototype partial.
 *
 * <div class="o-parallax o-press--md p-parallax-home"></div>
 *
 */
=o-parallax
    background-position: 50% 50%
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    +retina
        +resize--max-w(1100px)
            background-attachment: initial

.o-parallax
    +o-parallax