//===================================================================
//
//    FLEX MEDIA
//
//===================================================================


/*
 * Object for fluid iframes and images.
 * https://github.com/suitcss/components-flex-embed
 *
 * <div class="o-flex-media">
 *     <div class="o-flex-media__wrapper o-flex-media--cinema">
 *         <iframe class="o-flex-media__item"></iframe>
 *     </div>
 * </div>
 */
.o-flex-media
    position: relative
    display: block
    overflow: hidden

    .o-flex-media__item,
    iframe,
    img
        position: absolute
        top: 0
        bottom: 0
        left: 0
        width: 100%
        height: 100%


.o-flex-media__wrapper
    display: block
    width: 100%
    padding-bottom: 100%


/*
 * 16:9 aspect ratio.
 * Extends `.o-flex-media__wrapper`.
 */
.o-flex-media--cinema
    padding-bottom: $ratio-cinema


/*
 * 4:3 aspect ratio.
 * Extends `.o-flex-media__wrapper`.
 */
.o-flex-media--old-school
    padding-bottom: $ratio-old-school


/*
 * 1:1 aspect ratio.
 * Extends `.o-flex-media__wrapper`.
 */
.o-flex-media--square
    padding-bottom: $ratio-square


/*
 * 1:3 aspect ratio.
 * Extends `.o-flex-media__wrapper`.
 */
.o-flex-media--third
    padding-bottom: $ratio-third