//====================================================
//
//    WRAPPERS
//
//====================================================


/*
 * Config.
 */
$wrapper-width:                                       $base-wrapper-width
$wrapper-width--copy:                                 $base-copy-width


/*
 * Wraps content/layout.
 *
 * <div class="o-wrapper">
 *     <div class="o-layout">
 *     </div>
 * </div>
 */


/*
 * Default wrapper.
 */
=o-wrapper($wrapper: $wrapper-width)
    max-width: $wrapper
    margin: 0 auto

.o-wrapper
    +o-wrapper


/*
 * Copy width wrapper.
 */
.o-wrapper--copy
    +o-wrapper($wrapper-width--copy)


/*
 * Wrapper loop through breakpoints.
 */
@each $breakpoint, $size in $breakpoints
    .o-wrapper--#{$breakpoint}
        max-width: $size
        margin: 0 auto