//===================================================================
//
//    PRESS OBJECT
//
//    Vertical spacing.
//    1. Press top & bottom.
//    2. Press top & bottom with existing baseline.
//    3. Press top.
//    4. Press bottom.
//
//===================================================================



/*
 * 1. Press top & bottom.
 */
=o-press($spacing-top: $spacing, $spacing-bottom: $spacing)
    padding-top: $spacing-top
    padding-bottom: $spacing-bottom

.o-press
    +o-press


=o-press--md
    +o-press($spacing--md, $spacing--md)

.o-press--md
    +o-press--md


=o-press--lg
    +o-press($spacing--lg, $spacing--lg)

.o-press--lg
    +o-press--lg


/*
 * 2. Press top more than bottom.
 */
=o-press--stacked
    +o-press($spacing, 0)

.o-press--stacked
    +o-press--stacked


=o-press--stacked--md
    +o-press($spacing--md, $spacing)

.o-press--stacked--md
    +o-press--stacked--md


=o-press--stacked--lg
    +o-press($spacing--lg, $spacing--md + 1)

.o-press--stacked--lg
    +o-press--stacked--lg


/*
 * 3. Press top.
 */
=o-press--top
    +o-press($spacing, 0)

.o-press--top
    +o-press--top


=o-press--top--md
    +o-press($spacing--md, 0)

.o-press--top--md
    +o-press--top--md


=o-press--top--lg
    +o-press($spacing--lg, 0)
    padding-top: $spacing--lg

.o-press--top--lg
    +o-press--top--lg


/*
 * 4. Press bottom.
 */
=o-press--bottom
    +o-press(0, $spacing)
    padding-bottom: $spacing

.o-press--bottom
    +o-press--bottom


=o-press--bottom--md
    +o-press(0, $spacing--md)

.o-press--bottom--md
    +o-press--bottom--md


=o-press--bottom--lg
    +o-press(0, $spacing--lg)

.o-press--bottom--lg
    +o-press--bottom--lg