//===================================================================
//
//    LAYOUT
//
//    Flexbox grid. `o-layout` is row `o-layout__item` is column.
//    1. Grid init.
//    2. Gutters.
//    3. Horizontally align row.
//    4. Vertically align row to top.
//    5. Vertically align row to bottom.
//    6. Center row vertically.
//    7. Distribute equal heights.
//    8. Center equal heights.
//
//===================================================================


/*
 * 1. Initialize flexbox grid.
 * `o-layout` creates responsive columns in conjunction
 *  with `.u-{width}` classes.
 */
=o-layout
    display: flex
    flex-wrap: wrap

    > li,
    > div
        flex: 1

.o-layout
    +o-layout


/*
 * 2. Gutters.
 * Extends `.o-layout`.
 */
=o-layout--gutters

    > li,
    > div
        padding-right: $spacing / 2
        padding-left: $spacing / 2


.o-layout--gutters
    +o-layout--gutters


/* Medium gutters. */
=o-layout--gutters--md

    > li,
    > div
        padding-right: $spacing
        padding-left: $spacing

.o-layout--gutters--md
    +o-layout--gutters--md


/* Large gutters. */
=o-layout--gutters--lg

    > li,
    > div
        padding-right: $spacing--md
        padding-left: $spacing--md

.o-layout--gutters--lg
    +o-layout--gutters--lg


/*
 * 3. Center row.
 * Extends `.o-layout`.
 */
=o-layout--center
    text-align: center

    > li,
    > div
        text-align: left


/*
 * 4. Align row to top.
 * Extends `.o-layout`.
 */
=o-layout--top
    align-items: flex-start

.o-layout--top
    +o-layout--top


/*
 * 5. Align row to bottom.
 * Extends `.o-layout`.
 */
=o-layout--bottom
    align-items: flex-end

.o-layout--bottom
    +o-layout--bottom


/*
 * 6. Align row to center.
 * Extends `.o-layout`.
 */
=o-layout--middle
    align-items: center

.o-layout--middle
    +o-layout--middle


/*
 * 7. Create equal heights among layout items.
 * Extends `.o-layout`.
 */
=o-layout--equal-height

    > li,
    > div
        display: flex

.o-layout--equal-height
    +o-layout--equal-height


/*
 * 8. Center layout items.
 * Extends `.o-layout--equal-height`.
 */
=o-layout--equal-center

    > li,
    > div
        justify-content: center

.o-layout--equal-center
    +o-layout--equal-center