//===================================================================
//
//    MIXINS
//
//    1.  Border radius.
//    2.  Gradients.
//    3.  Hover style.
//    4.  Media queries.
//    5.  Custom media queries.
//    6.  Retina media query.
//    7.  Popout.
//    8.  Triangle.
//    9.  Padding.
//    10. Icons.
//    11. Buttons.
//    12. Prong.
//    13. Cleafix.
//    14. Form placeholder color.
//    15. Sub nav dropdown.
//    16. Navigations.
//
//===================================================================


/*
 * 1. Border radius.
 */
=round-top
    border-radius: $base-radius $base-radius 0 0

=round-bottom
    border-radius: 0 0 $base-radius $base-radius

=round-left
    border-radius: $base-radius 0 0 $base-radius

=round-right
    border-radius: 0 $base-radius $base-radius 0



/*
 * 2. Gradients.
 */
=gradient($color-from, $color-to, $color-angle)
    background: linear-gradient($color-angle+deg, $color-from 0%, $color-to 100%)
    color: inherit



/*
 * 3. Hover / touch styles.
 */
=attention($self: null)
    @if $self != null
        &,
        &:hover,
        &:active,
        &:focus
            @content
    @else
        &:hover,
        &:active,
        &:focus
            @content



/*
 * 4. Media Queries
 * https://jonsuh.com/blog/managing-responsive-breakpoints-with-sass-maps/
 */
=resize($mq-breakpoint, $mq-breakpoints: $breakpoints)
    @if map-has-key($mq-breakpoints, $mq-breakpoint)
        $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint)

        @media screen and ( min-width: #{$mq-breakpoint} )
            @content



/*
 * 5. À La Carte Media Queries.
 */
=resize--min-w($breakpoint)
    @media screen and (min-width: $breakpoint)
        @content


=resize--max-w($breakpoint)
    @media screen and (max-width: $breakpoint)
        @content


=resize--min-h($breakpoint)
    @media screen and (min-height: $breakpoint)
        @content


=resize--max-h($breakpoint)
    @media screen and (max-height: $breakpoint)
        @content



/*
 * 6. Target retina media query.
 */
=retina
    @media screen and (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx)
        @content



/*
 * 7. Popout mixins.
 */
=popout-hide
    overflow: hidden
    max-height: 0
    opacity: 0

=popout-show
    overflow: visible
    max-height: inherit
    opacity: 1


/*
 * 8. Triangle mixin.
 */
=triangle($size, $color, $direction, $stretch: false, $width: null)
    display: block
    width: 0
    height: 0
    border-style: solid
    border-width:  $size
    @if $direction == bottom
        border-color: $color transparent transparent transparent
    @if $direction == top
        border-color: transparent transparent $color transparent
    @if $direction == right
        border-color: transparent transparent transparent $color
    @if $direction == left
        border-color: transparent $color transparent transparent
    @if $stretch == true
        border-width: 0 $width $size


/*
 * Padding mixins.
 */
/* Horizontal padding. */
=pad-stack($spacing-top: $spacing, $spacing-bottom: $spacing, $utility: false)
    @if $utility == false
        padding-top: $spacing-top
        padding-bottom: $spacing-bottom
    @if $utility == true
        padding-top: $spacing-top !important
        padding-bottom: $spacing-bottom !important


/* Vertical padding. */
=pad-crush($spacing-left: $spacing, $spacing-right: $spacing, $utility: false)
    @if $utility == false
        padding-left: $spacing-left
        padding-right: $spacing-right
    @if $utility == true
        padding-left: $spacing-left !important
        padding-right: $spacing-right !important


/*
 * Icons.
 */
=icon
    font-family: $font-stack-icon
    speak: none
    font-variant: normal
    font-weight: normal
    line-height: 1


/*
 * Buttons.
 */
/* Hollow button. */
=btn-hollow($color, $bg-hover, $color-hover)
    border-color: $color
    color: $color
    +attention
        background-color: $bg-hover
        border-color: $bg-hover
        color: $color-hover

/* Solid button. */
=btn-solid($bg, $color, $bg-hover, $color-hover)
    background-color: $bg
    border-color: $bg
    color: $color
    +attention
        background-color: $bg-hover
        border-color: $bg-hover
        color: $color-hover


/*
 * Prong.
 */
=prong($color, $size, $distance)
    position: relative
    width: inherit
    margin-top: 3rem
    margin-right: auto
    margin-left: auto
    border-bottom: $size solid $color

    &::after
        position: absolute
        left: 50%
        width: $size
        transform: translateX(-50%)
        background-color: $color
        content: " "

    &::before
        position: absolute
        width: 100%
        border-right: $size solid $color
        border-left: $size solid $color
        content: " "

/* Prong top mixin. */
=prong--top($distance, $length)
    margin-bottom: $distance
    &::after
        top: -$length
        height: $length
    &::before
        height: $length

/* Prong bottom mixin. */
=prong--bottom($distance, $length)
    margin-top: $distance
    &::after
        bottom: -$length
        height: $length

    &::before
        bottom: 0
        height: $length


/*
 * Micro-clearfix.
 * http://cssmojo.com/latest_new_clearfix_so_far/
 */
=clearfix
    &:after
        clear: both
        display: table
        content: ""


/*
 * Form placeholder color.
 */
=form-placeholder-color($color)
    &::-webkit-input-placeholder
        color: $color

    &:-moz-placeholder
        color: $color
        opacity: 1

    &::-moz-placeholder
        color: $color
        opacity: 1

    &:-ms-input-placeholder
        color: $color


/*
 * Wings mixins.
 */
=wings($thickness, $style)
    display: block
    overflow: hidden
    text-align: center

    &:before,
    &:after
        content: " "
        display: inline-block
        vertical-align: middle
        position: relative
        width: 50%
        border-top-style: $style
        border-top-width: $thickness

    &:before
        margin-left: -50%

    &:after
        margin-right: -50%


/*
 * Adjust vertical height of lines.
 */
=wings--v-adjust($height)
    &::before,
    &::after
        bottom: $height


/*
 * Sub nav dropdown.
 * Extends `.m-site-nav`.
 */
=sub-nav-dropdown
    ul
        ul
            position: absolute
            overflow: hidden
            max-height: 0
            opacity: 0

    ul
        li
            position: relative
            &:hover,
            &.is-open
                ul
                    overflow: visible
                    max-height: inherit
                    opacity: 1

=sub-nav-dropdown--center
    ul
        ul
            left: 50%
            width: auto
            transform: translateX(-50%)


/*
 * Navigations based on flexbox.
 */
=nav
    display: flex
    align-items: center
    margin: 0
    padding: 0
    list-style: none

    li
        position: relative
        display: flex

    a
        display: block