//===================================================================
//
//    ANIMATE
//
//===================================================================


/*
 * Catch-all mixin for animations
 */
=animate($prop: all, $time: $animate-speed, $method: linear)
    transition: $time $prop $method


=animate--slow($prop: all, $time: $animate-speed--slow, $method: ease-in-out)
    transition: $time $prop $method


=animate--fast($prop: all, $time: $animate-speed--fast, $method: ease-in-out)
    transition: $time $prop $method