//===================================================================
//
//    PADDING
//
//    1. Cofig.
//    2. Full padding.
//    3. Top padding.
//    4. Right padding.
//    5. Bottom padding.
//    6. Left padding.
//    7. Vertical padding.
//    8. Offset vertical padding.
//    9. Horizontal padding.
//
//===================================================================



/*
 * 1. Config.
 */
$pad-top:                                             false
$pad-right:                                           false
$pad-bottom:                                          false
$pad-left:                                            false



/*
 * 2. Full padding.
 */
.u-pad
    padding: $spacing !important

.u-pad--xm
    padding: $spacing--xs !important

.u-pad--sm
    padding: $spacing--sm !important

.u-pad--md
    padding: $spacing--md !important

.u-pad--lg
    padding: $spacing--lg !important



/*
 * 3. Top padding.
 */
@if $pad-top == true
    .u-pad--t
        padding-top: $spacing !important

    .u-pad--t--xm
        padding-top: $spacing--xs !important

    .u-pad--t--sm
        padding-top: $spacing--sm !important

    .u-pad--t--md
        padding-top: $spacing--md !important

    .u-pad--t--lg
        padding-top: $spacing--lg !important


/*
 * 4. Right padding.
 */
@if $pad-right == true
    .u-pad--r
        padding-right: $spacing !important

    .u-pad--r--xm
        padding-right: $spacing--xs !important

    .u-pad--r--sm
        padding-right: $spacing--sm !important

    .u-pad--r--md
        padding-right: $spacing--md !important

    .u-pad--r--lg
        padding-right: $spacing--lg !important


/*
 * 5. Bottom padding.
 */
@if $pad-bottom == true
    .u-pad--b
        padding-bottom: $spacing !important

    .u-pad--b--xm
        padding-bottom: $spacing--xs !important

    .u-pad--b--sm
        padding-bottom: $spacing--sm !important

    .u-pad--b--md
        padding-bottom: $spacing--md !important

    .u-pad--b--lg
        padding-bottom: $spacing--lg !important


/*
 * 6. Left padding.
 */
@if $pad-left == true
    .u-pad--l
        padding-left: $spacing !important

    .u-pad--l--xm
        padding-left: $spacing--xs !important

    .u-pad--l--sm
        padding-left: $spacing--sm !important

    .u-pad--l--md
        padding-left: $spacing--md !important

    .u-pad--l--lg
        padding-left: $spacing--lg !important


/*
 * 7. Vertical padding.
 */
.u-pad--stack
    +pad-stack($utility: true)

.u-pad--stack--xs
    +pad-stack($spacing--xs, $spacing--xs, true)

.u-pad--stack--sm
    +pad-stack($spacing--sm, $spacing--sm, true)

.u-pad--stack--md
    +pad-stack($spacing--md, $spacing--md, true)

.u-pad--stack--lg
    +pad-stack($spacing--lg, $spacing--lg, true)

.u-pad--stack--mega
    +pad-stack($spacing--mega, $spacing--mega, true)

.u-pad--stack--giant
    +pad-stack($spacing--giant, $spacing--giant, true)


/*
 * 8. Offset vertical padding.
 */
.u-pad--off
    +pad-stack($spacing, 0, true)

.u-pad--off--md
    +pad-stack($spacing--md, $spacing, true)

.u-pad--off--lg
    +pad-stack($spacing--lg, $spacing--md + 1, true)

.u-pad--off--mega
    +pad-stack($spacing--mega, $spacing--lg + 1, true)

.u-pad--off--giant
    +pad-stack($spacing--giant, $spacing--mega + 1, true)



/*
 * 9. Horizontal padding.
 */
.u-pad--crush
    +pad-crush($utility: true)

.u-pad--crush--xs
    +pad-crush($spacing--xs, $spacing--xs, true)

.u-pad--crush--sm
    +pad-crush($spacing--sm, $spacing--sm, true)

.u-pad--crush--md
    +pad-crush($spacing--md, $spacing--md, true)

.u-pad--crush--lg
    +pad-crush($spacing--lg, $spacing--lg, true)

.u-pad--crush--mega
    +pad-crush($spacing--mega, $spacing--mega, true)

.u-pad--crush--giant
    +pad-crush($spacing--giant, $spacing--giant, true)