//====================================================
//
//    PULL UTILITY
//
//====================================================


/*
 * Extends `layout` object.
 *
 * <div class="o-layout">
 *     <div class="o-layout__item u-half u-pull--half">
 *     </div>
 * </div>
 */


/*
 * Enable.
 */
$enable-pull:                                         false


/*
 * Enable uncommon pulls.
 */
$fifth-pull-breakpoints:                              false
$sixth-pull-breakpoints:                              false
$seventh-pull-breakpoints:                            false
$eighth-pull-breakpoints:                             false
$tenth-pull-breakpoints:                              false
$twelfth-pull-breakpoints:                            false


/*
 * Enable custom breakpoint pulls.
 * These must have values in `breakpoints` config.
 */
$micro-pull-breakpoints:                              false
$xxs-pull-breakpoints:                                false
$phab-pull-breakpoints:                               false
$xs-pull-breakpoints:                                 false
$tab-7-pull-breakpoints:                              false
$sm-pull-breakpoints:                                 false
$tab-p-pull-breakpoints:                              false
$md-pull-breakpoints:                                 false
$tab-l-pull-breakpoints:                              false
$lg-pull-breakpoints:                                 false
$desk-pull-breakpoints:                               false
$xl-pull-breakpoints:                                 false
$full-pull-breakpoints:                               false
$xxl-pull-breakpoints:                                false



=u-pull-setup($namespace: "pull", $fifths: $fifth-pull-breakpoints, $sixths: $sixth-pull-breakpoints, $sevenths: $seventh-pull-breakpoints, $eighths: $eighth-pull-breakpoints, $tenths: $tenth-pull-breakpoints, $twelfths: $twelfth-pull-breakpoints)

    // Full
    .u-#{$namespace}--full
        position: relative
        right: 100% !important

    // Halves
    .u-#{$namespace}--half
        position: relative
        right: $half !important

    // Thirds
    .u-#{$namespace}--third
        position: relative
        right: $third !important

    .u-#{$namespace}--two-thirds
        position: relative
        right: $two-thirds !important

    // Quarters
    .u-#{$namespace}--quarter
        position: relative
        right: $quarter !important

    .u-#{$namespace}--two-quarters
        position: relative
        right: $half !important

    .u-#{$namespace}--three-quarters
        position: relative
        right: $three-quarters !important

    // Fifths
    @if $fifths == true
        .u-#{$namespace}--fifth
            position: relative
            right: $fifth !important

        .u-#{$namespace}--two-fifths
            position: relative
            right: $two-fifths !important

        .u-#{$namespace}--three-fifths
            position: relative
            right: $three-fifths !important

        .u-#{$namespace}--four-fifths
            position: relative
            right: $four-fifths !important

    // Sixths
    @if $sixths == true
        .u-#{$namespace}--sixth
            position: relative
            right: $sixth !important

        .u-#{$namespace}--two-sixths
            position: relative
            right: $third !important

        .u-#{$namespace}--three-sixths
            position: relative
            right: $half !important

        .u-#{$namespace}--four-sixths
            position: relative
            right: $two-thirds !important

        .u-#{$namespace}--five-sixths
            position: relative
            right: $five-sixths !important


    // Sevenths
    @if $sevenths == true
        .u-#{$namespace}--seventh
            position: relative
            right: $seventh !important

        .u-#{$namespace}--two-sevenths
            position: relative
            right: $two-sevenths !important

        .u-#{$namespace}--three-sevenths
            position: relative
            right: $three-sevenths !important

        .u-#{$namespace}--four-sevenths
            position: relative
            right: $four-sevenths !important

        .u-#{$namespace}--five-sevenths
            position: relative
            right: $five-sevenths !important

        .u-#{$namespace}--sixth-sevenths
            position: relative
            right: $six-sevenths !important


    // Eighths
    @if $eighths == true
        .u-#{$namespace}--eighth
            position: relative
            right: $eighth !important

        .u-#{$namespace}--two-eighths
            position: relative
            right: $quarter !important

        .u-#{$namespace}--three-eighths
            position: relative
            right: $three-eighths !important

        .u-#{$namespace}--four-eighths
            position: relative
            right: $half !important

        .u-#{$namespace}--five-eighths
            position: relative
            right: $five-eighths!important

        .u-#{$namespace}--six-eighths
            position: relative
            right: $two-thirds !important

        .u-#{$namespace}--seven-eighths
            position: relative
            right: $seven-eighths !important

    // Tenths
    @if $tenths == true
        .u-#{$namespace}--tenth
            position: relative
            right: $tenth !important

        .u-#{$namespace}--two-tenths
            position: relative
            right: $fifth !important

        .u-#{$namespace}--three-tenths
            position: relative
            right: $three-tenths !important

        .u-#{$namespace}--four-tenths
            position: relative
            right: $two-fifths !important

        .u-#{$namespace}--five-tenths
            position: relative
            right: $half !important

        .u-#{$namespace}--six-tenths
            position: relative
            right: $three-tenths !important

        .u-#{$namespace}--seven-tenths
            position: relative
            right: $seven-tenths !important

        .u-#{$namespace}--eight-tenths
            position: relative
            right: $four-fifths !important

        .u-#{$namespace}--nine-tenths
            position: relative
            right: $nine-tenths !important

    // Twelfths
    @if $twelfths == true
        .u-#{$namespace}--twelfth
            position: relative
            right: $twelfth !important

        .u-#{$namespace}--two-twelfths
            position: relative
            right: $sixth !important

        .u-#{$namespace}--three-twelfths
            position: relative
            right: $quarter !important

        .u-#{$namespace}--four-twelfths
            position: relative
            right: $third !important

        .u-#{$namespace}--five-twelfths
            position: relative
            right: $five-twelfths !important

        .u-#{$namespace}--six-twelfths
            position: relative
            right: $half !important

        .u-#{$namespace}--seven-twelfths
            position: relative
            right: $seven-twelfths !important

        .u-#{$namespace}--eight-twelfths
            position: relative
            right: $two-thirds !important

        .u-#{$namespace}--nine-twelfths
            position: relative
            right: $three-quarters !important

        .u-#{$namespace}--ten-twelfths
            position: relative
            right: $five-sixths !important

        .u-#{$namespace}--eleven-twelfths
            position: relative
            right: $eleven-twelfths !important



/*
 * Create pull classes.
 */
@if $enable-pull == true
    +u-pull-setup


@if $micro-pull-breakpoints == true
    +resize(micro)
        +u-pull-setup("micro--")


@if $xxs-pull-breakpoints == true
    +resize(xxs)
        +u-pull-setup("xxs--")


@if $phab-pull-breakpoints == true
    +resize(phab)
        +u-pull-setup("phab--")


@if $xs-pull-breakpoints == true
    +resize(xs)
        +u-pull-setup("xs--")


@if $tab-7-pull-breakpoints == true
    +resize(tab-7)
        +u-pull-setup("tab-7--")


@if $sm-pull-breakpoints == true
    +resize(sm)
        +u-pull-setup("sm--")


@if $tab-p-pull-breakpoints == true
    +resize(tab-p)
        +u-pull-setup("tab-p--")


@if $md-pull-breakpoints == true
    +resize(md)
        +u-pull-setup("md--")


@if $tab-l-pull-breakpoints == true
    +resize(tab-l)
        +u-pull-setup("tab-l--")


@if $lg-pull-breakpoints == true
    +resize(lg)
        +u-pull-setup("lg--")


@if $desk-pull-breakpoints == true
    +resize(desk)
        +u-pull-setup("desk--")


@if $xl-pull-breakpoints == true
    +resize(xl)
        +u-pull-setup("xl--")


@if $full-pull-breakpoints == true
    +resize(full)
        +u-pull-setup("full--")


@if $xxl-pull-breakpoints == true
    +resize(xxl)
        +u-pull-setup("xxl--")