//===================================================================
//
//    TEXT UTILITIES
//
//===================================================================


/*
 * Bold.
 */
.u-text-bold
    font-weight: $font-weight-base--bold !important


/*
 * Center text.
 */
.u-text-center
    text-align: center !important


/*
 * Left align text.
 */
.u-text-left
    text-align: left !important


/*
 * Right align text.
 */
.u-text-right
    text-align: right !important


/*
 * Half baseline.
 */
.u-text-hb
    margin-bottom: $spacing / 2 !important


/*
 * No baseline.
 */
.u-text-nb
    margin-bottom: 0 !important