//===================================================================
//
//    ALIGN
//
//    Flex box alignment.
//
//===================================================================



/*
 * Set flexbox.
 */
.u-align
    display: flex !important


/*
 * Align top.
 * Extends `.u-align`.
 */
.u-align--top
    align-items: flex-start !important


/*
 * Align bottom.
 * Extends `.u-align`.
 */
.u-align--bottom
    align-items: flex-end !important


/*
 * Align left.
 * Extends `.u-align`.
 */
.u-align--left
    margin-right: auto !important


/*
 * Align right.
 * Extends `.u-align`.
 */
.u-align--right
    margin-left: auto !important


/*
 * Align X and Y.
 * Extends `.u-align`.
 */
.u-align--center
    align-items: center !important
    justify-content: center !important


/*
 * Align X.
 * Extends `.u-align`.
 */
.u-align--x
    justify-content: center !important


/*
 * Align Y.
 * Extends `.u-align`.
 */
.u-align--y
    align-items: center !important


/*
 * Align vertical.
 * Extends `.u-align`.
 */
.u-align--column
    flex-direction: column !important


/*
 * Split layout.
 * Extends `.u-align`.
 */
.u-align--split
    justify-content: space-between !important


/*
 * Align horizontal.
 * Extends `.u-align`.
 */
.u-align--row
    flex-direction: row !important


/*
 * Top align item.
 * Extends `.u-align` child.
 */
.u-align-self--top
    margin-bottom: auto !important


/*
 * Bottom align item.
 * Extends `.u-align` child.
 */
.u-align-self--bottom
    margin-top: auto !important


/*
 * Middle align item.
 * Extends `.u-align` child.
 */
.u-align-self--center
    align-self: center !important