//===================================================================
//
//    SHOW/HIDE
//
//===================================================================


/*
 * Hide mixins.
 */
=u-hide
  display: none !important

=u-hide--min-w($breakpoint)
  +resize--min-w($breakpoint)
    display: none !important
    @content

=u-hide--max-w($breakpoint)
  +resize--max-w($breakpoint)
    display: none !important
    @content

=u-hide--min-h($breakpoint)
  +resize--min-h($breakpoint)
    display: none !important
    @content

=u-hide--max-h($breakpoint)
  +resize--max-h($breakpoint)
    display: none !important
    @content



/*
 * Show mixins.
 */
=u-show
  display: inherit !important

=u-show--min-w($breakpoint)
  +resize--min-w($breakpoint)
    display: inherit !important
    @content

=u-show--max-w($breakpoint)
  +resize--max-w($breakpoint)
    display: inherit !important
    @content

=u-show--min-h($breakpoint)
  +resize--min-h($breakpoint)
    display: inherit !important
    @content

=u-show--max-h($breakpoint)
  +resize--max-h($breakpoint)
    display: inherit !important
    @content


/*
 * Classes.
 */
.u-hide
  +u-hide

.u-show
  +u-show