//===================================================================
//
//    WIDTHS
//
//===================================================================


/*
 * Creates columns when extending `.o-layout__item`.
 *
 * <div class="o-layout">
 *     <div class="o-layout__item u-full u-tab-l--half">
 *     </div>
 * </div>
 */


/*
 * Enable uncommon widths.
 */
$fifth-breakpoints:                                   false
$sixth-breakpoints:                                   false
$seventh-breakpoints:                                 false
$eighth-breakpoints:                                  false
$tenth-breakpoints:                                   false
$twelfth-breakpoints:                                 false


/*
 * Enable custom breakpoint widths.
 * These must have values in `breakpoints` config.
 */
$micro-breakpoints:                                   false
$xxs-breakpoints:                                     false
$xs-breakpoints:                                      false
$sm-breakpoints:                                      false
$md-breakpoints:                                      false
$lg-breakpoints:                                      false
$desk-breakpoints:                                    false
$xl-breakpoints:                                      false
$full-breakpoints:                                    false
$xxl-breakpoints:                                     false


/*
 * Width mixin for reuse.
 */
=u-width($width)
    flex-grow: 0 !important
    flex-shrink: 0 !important
    flex-basis: $width !important


/*
 * Build classes and disable uncommon widths.
 */
=u-width-setup($namespace: "", $fifths: $fifth-breakpoints, $sixths: $sixth-breakpoints, $sevenths: $seventh-breakpoints, $eighths: $eighth-breakpoints, $tenths: $tenth-breakpoints, $twelfths: $twelfth-breakpoints)

    // Full
    .u-#{$namespace}full
        flex-grow: 0 !important
        flex-shrink: 0 !important
        flex-basis: 100% !important

    // Halves
    .u-#{$namespace}half
        flex-grow: 0 !important
        flex-shrink: 0 !important
        flex-basis: $half !important

    // Thirds
    .u-#{$namespace}third
        flex-grow: 0 !important
        flex-shrink: 0 !important
        flex-basis: $third !important

    .u-#{$namespace}two-thirds
        flex-grow: 0 !important
        flex-shrink: 0 !important
        flex-basis: $two-thirds !important

    // Quarters
    .u-#{$namespace}quarter
        flex-grow: 0 !important
        flex-shrink: 0 !important
        flex-basis: $quarter !important

    .u-#{$namespace}two-quarters
        flex-grow: 0 !important
        flex-shrink: 0 !important
        flex-basis: $half !important

    .u-#{$namespace}three-quarters
        flex-grow: 0 !important
        flex-shrink: 0 !important
        flex-basis: $three-quarters !important

    // Fifths
    @if $fifths == true
        .u-#{$namespace}fifth
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $fifth !important

        .u-#{$namespace}two-fifths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $two-fifths !important

        .u-#{$namespace}three-fifths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $three-fifths !important

        .u-#{$namespace}four-fifths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $four-fifths !important

    // Sixths
    @if $sixths == true
        .u-#{$namespace}sixth
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $sixth !important

        .u-#{$namespace}two-sixths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $third !important

        .u-#{$namespace}three-sixths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $half !important

        .u-#{$namespace}four-sixths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $two-thirds !important

        .u-#{$namespace}five-sixths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $five-sixths !important


    // Sevenths
    @if $sevenths == true
        .u-#{$namespace}seventh
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $seventh !important

        .u-#{$namespace}two-sevenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $two-sevenths !important

        .u-#{$namespace}three-sevenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $three-sevenths !important

        .u-#{$namespace}four-sevenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $four-sevenths !important

        .u-#{$namespace}five-sevenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $five-sevenths !important

        .u-#{$namespace}sixth-sevenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $six-sevenths !important


    // Eighths
    @if $eighths == true
        .u-#{$namespace}eighth
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $eighth !important

        .u-#{$namespace}two-eighths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $quarter !important

        .u-#{$namespace}three-eighths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $three-eighths !important

        .u-#{$namespace}four-eighths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $half !important

        .u-#{$namespace}five-eighths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $five-eighths!important

        .u-#{$namespace}six-eighths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $two-thirds !important

        .u-#{$namespace}seven-eighths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $seven-eighths !important


    // Tenths
    @if $tenths == true
        .u-#{$namespace}tenth
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $tenth !important

        .u-#{$namespace}two-tenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $fifth !important

        .u-#{$namespace}three-tenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $three-tenths !important

        .u-#{$namespace}four-tenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $two-fifths !important

        .u-#{$namespace}five-tenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $half !important

        .u-#{$namespace}six-tenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $three-tenths !important

        .u-#{$namespace}seven-tenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $seven-tenths !important

        .u-#{$namespace}eight-tenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $four-fifths !important

        .u-#{$namespace}nine-tenths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $nine-tenths !important


    // Twelfths
    @if $twelfths == true
        .u-#{$namespace}twelfth
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $twelfth !important

        .u-#{$namespace}two-twelfths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $sixth !important

        .u-#{$namespace}three-twelfths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $quarter !important

        .u-#{$namespace}four-twelfths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $third !important

        .u-#{$namespace}five-twelfths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $five-twelfths !important

        .u-#{$namespace}six-twelfths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $half !important

        .u-#{$namespace}seven-twelfths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $seven-twelfths !important

        .u-#{$namespace}eight-twelfths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $two-thirds !important

        .u-#{$namespace}nine-twelfths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $three-quarters !important

        .u-#{$namespace}ten-twelfths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $five-sixths !important

        .u-#{$namespace}eleven-twelfths
            flex-grow: 0 !important
            flex-shrink: 0 !important
            flex-basis: $eleven-twelfths !important


/*
 * Create breakpoint classes.
 */
+u-width-setup

@if $micro-breakpoints == true
    +resize(micro)
        +u-width-setup("micro--")


@if $xxs-breakpoints == true
    +resize(xxs)
        +u-width-setup("xxs--")


+resize(phab)
    +u-width-setup("phab--")


@if $xs-breakpoints == true
    +resize(xs)
        +u-width-setup("xs--")


+resize(tab-7)
    +u-width-setup("tab-7--")


@if $sm-breakpoints == true
    +resize(sm)
        +u-width-setup("sm--")


+resize(tab-p)
    +u-width-setup("tab-p--")


@if $md-breakpoints == true
    +resize(md)
        +u-width-setup("md--")


+resize(tab-l)
    +u-width-setup("tab-l--")


@if $lg-breakpoints == true
    +resize(lg)
        +u-width-setup("lg--")


@if $desk-breakpoints == true
    +resize(desk)
        +u-width-setup("desk--")


@if $xl-breakpoints == true
    +resize(xl)
        +u-width-setup("xl--")


@if $full-breakpoints == true
    +resize(full)
        +u-width-setup("full--")


@if $xxl-breakpoints == true
    +resize(xxl)
        +u-width-setup("xxl--")