//===================================================================
//
//    FONT SIZES
//
//===================================================================


.u-fs-monster
    font-size: $fs-monster !important

.u-fs-giga
    font-size: $fs-giga !important


.u-fs-mega
    font-size: $fs-mega !important


.u-fs-kilo
    font-size: $fs-kilo !important


.u-fs-xxxl
    font-size: $fs-xxxl !important


.u-fs-xxl
    font-size: $fs-xxl !important


.u-fs-xl
    font-size: $fs-xl !important


.u-fs-h1
    font-size: $fs-h1 !important


.u-fs-h2
    font-size: $fs-h2 !important


.u-fs-h3
    font-size: $fs-h3 !important


.u-fs-h4
    font-size: $fs-h4 !important


.u-fs-h5
    font-size: $fs-h5 !important


.u-fs-h6
    font-size: $fs-h6 !important


.u-fs-sm
    font-size: $fs-sm !important


.u-fs-xs
    font-size: $fs-xs !important


.u-fs-xxs
    font-size: $fs-xxs !important